* {
  margin: 0px;
}
header {
  width: 100%;
}
.header-picture {

}
.header-list {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 120px;
}
.header-list img{
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* style */
  .header-list {
    height: 80px;
  }
}
.header-list ul {
  overflow:hidden;
  list-style:none;
  z-index: 20;
  text-align: center;
  display: inline-block;
  color: rgb(0, 0, 0);
}
.fab {
  height: 10px;
}
.fa-twitter {
  color: #4ea0ff;
}
.fa-line {
  color: rgb(44, 230, 90);
}
.header-list img {
  float: left;
  padding:20px 20px 20px 60px;
}
@media (min-width: 801px) and (max-width: 1199px) {
  .header-list img {
    padding: 0px;
  }
}
.header-list ul{
  padding-top: 20px;
}
.header-list a {
}
.header-list li {
  list-style:none;
  float: right;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 50px 15px;
  padding-left: 30px;
}
@media (min-width: 801px) and (max-width: 1199px) {
  .header-list li {
    margin: 0px;
  }
  
}
.header-logo {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(5.jpg);
  background-size: cover;
}
@media (min-width: 801px) and (max-width: 1199px) {
  /* style */
  .header-logo {
    height: 400px;
    padding: 0;
  }
}
.header-logo h1 {
  font-size: 30px;
  padding: 30px;
  color: rgb(58, 248, 89);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.836);
}
.header-logo h2 {
  font-size: 100px;
  padding: 30px;
  color: white;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.836);
  letter-spacing: 5px;
}
@media (min-width: 801px) and (max-width: 1199px) {
  /* style */
  .header-logo h2 {
    font-size: 70px;
  }
}
.cection-order-logo h1{
  padding-top: 200px;
  margin-top: 200px;
}
.section-order-logo h3 {
  text-align: center;
  padding: 30px;
  font-size: 30px;
}
.section-order-logo h4 {
  text-align: center;
  padding-bottom: 60px;
  font-size: 25px;
  font-weight: lighter;
}
@media (min-width: 801px) and (max-width: 1199px) {
  .section-order-logo h4 {
    font-size: 20px;
  }
}
main {
  margin: 100px 50px 400px 50px;
  padding-bottom: 150px;
}
.main-shop {
  margin-bottom: 50px;
  height: 500px;
}
.main-logo h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
}
@media (min-width: 801px) and (max-width: 1199px) {
  .main-logo h1 {
    font-size: 40px;
  }
}
.main-logo h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
.main-item-line1 {
  float: left;
  width: 50%;
  padding: 80px 0;
  color: black;
  height: 240px;
  text-align: center;
}
.cection-order-logo h1{
  padding-top: 200px;
  margin-top: 200px;
}
.main-item-line1 p {
  margin: 0 auto;
}
.main-item-line2 {
  float: left;
  width: 25%;
  padding: 0px 0px 60px 0;
  color: black;
  height: 300px
}
.main-item-line2 p {
  margin: 0 20px 40px 20px;
}
.main-shop img {
  width: 100%;
  height: 300px;
  width: 300px;
}
.main-shop h1 {
  margin-top: 40px;
  margin-left: 20px;
}
.main-shop p {
  font-size: 20px;
  margin: 40px 20px;
}
section {
}
.section-order {
  margin: 50px;
} 
.cection-order-logo {
  padding: 50px;
  margin: 50px;
}
.section-order-logo h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
  margin-left: 50px;
  margin-right: 50px;
}
@media (min-width: 801px) and (max-width: 1199px) {
  .section-order-logo h1 {
    font-size: 40px;
  }
}
.section-order-logo h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
.section-order h3 {
  padding: 20px;
}
.section-order-logo ul{
  font-size: 25px;
}
.section-order-logo li {
  list-style: none;
  text-align: center;
  color: red;
  margin-top: 50px;
}
.section-order-logo  p {
  color: black;
  font-weight: lighter;
}
.section-order-logo  h3{
  max-width: 1500px;
  width: 60%;
  margin: 0 auto;
}
.section-order-logo ul a {
  color: #0178ff;
}
.section-delivery {
  margin: 0px 50px 0 50px;
}
.section-delivery h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
}
.section-delivery h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
.section-delivery table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  height: 150px;
  table-layout: fixed;
  margin-top: 50px;
  font-size: 20px;
}
.section-delivery-table1 table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  height: 150px;
  table-layout: fixed;
  font-size: 20px;
}
.section-delivery-table1 tr {
  background-color: #fff;
  border: 3px solid #bbb;
  border-top: 0px solid #bbb;
  border-: 0px solid #bbb;
  padding: .35em;
  text-align: center;
}
.section-delivery-table1 td {

}
.section-delivery tr {
  background-color: #fff;
  border: 3px solid #bbb;
  padding: .35em;
  text-align: center;
}
.section-delivery td {
}
.section-delivery p {
  text-align: center;
  font-size: 60px;
}
.section-delivery img {
  text-align: center;
  /* margin: 50px 220px 0 235px; */
  width: 100%;
}
.section-delivery h3 {
  font-size: 45px;
  text-align: center;
  padding-bottom: 50px;
}
.section-map {
  padding: 50px;
  text-align: center;
  background-color: #ececea;
}
.section-map h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
}
.section-map p{
  text-align: center;
  color: green;
  font-size: 20px;
}
.section-map img {
  border: px sorid black;
  height: 400px;
  margin: 50px;
}
.start {
  margin: 50px;
  text-decoration: none;
}
.start h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green ;
  color: green;
  font-weight: bolder;
}
.start h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
.start h3 {
  border-radius: 20px;
  background-color: rgb(252, 119, 42);
  padding: 30px;
  text-align: center;
  color: rgb(255, 250, 250);
  opacity: 1;
  box-shadow: 0px 7px #ad1e1e;
  margin: 50px 300px;
}
.start h3:active {
  background-color: #ad1e1e;
  box-shadow: none;
  position: relative;
  top: 7px;
}
.start-btn {
  padding: 0 100px;;
  margin: 0 auto;
  writing-mode: left;
}
.start-btn h3 {
  text-decoration: none;
}
footer {
  background-color: black;
}
footer p {
  color: #fff;
  padding-left: 20px;
  text-align: center;
}
@media screen and (max-width: 800px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
.header-list img{
  width: 50%;
  float: left;
  padding: 0px;
}
  .list{
  display: none;
}
  main{
    margin-bottom: 400px;
  }
.header-list ul{
  padding-left: 0px;
}
.header-list i{
  width: 25px;
  height: 25px;
}
.fa-twitter{
  float: right;
}
.fa-line{
  float: right;
}
.main-item-line1{
  width: 50%;
  padding-bottom: 200px;
}
.main-item-line1 h1 {
  margin: 0;
  font-size: 20px;
}
.main-item-line2 p{
  display: none;
}
.main-item-line1 img{
  flex-wrap: wrap;
  height: 100px;
  width: 100px;
}
.main-item-line2 h1{
  display: none;
}
.section-delivery img{
  width: 100%;
  height: auto;
  margin: 0;
}
.section-delivery h3{
  font-size: 30px;
}
.section-map img{
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
}
.start-btn h3{
  margin: 0;
}
.start-btn p{
  font-size: 20px;
}
main{
  margin-bottom: 0;
  padding: 0;
}
.main-item-line1{
  padding-bottom: 0;
  height: 20%;
}
.main-shop{
  margin: 0;
}
.header-logo h2{
  font-size: 45px;
}
.header-logo p{
  font-size: 35px;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.836);
}
.main-item-line2{
  height: 25%;
  padding: 0;
}
.main-item-line2 h1{
  font-size: 25px;
}
.nav-open{
  padding-top: 50px;
  padding-left: 100px;
}
}
@media screen and (min-width: 801px){
.main-item-line1 p{
  display: none;
}

}
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.nav-drawer{
  float: right;
  display: inline-block;
}
@media (max-width: 800px) {
  .nav-drawer {
    float: right;
    display: inline-block;
    width: 10%;
    margin-top: 100px;
  }
  .header-list{
    width: 90%;
    display: inline-block;
  }
  .header-logo {
    padding: 0px;
  }

  .section-order-logo h1{
    font-size: 30px;
  }
  .section-order-logo h4{
    font-size: 20px;
  }
  .main-logo h1{
    font-size: 30px;
  }
  .main-item-line2 p{
    display: none;
  }
  .main-item-line1 h1 {

  }
}
@media screen (min-width: 801px;) and (max-width: 1199px) {
  /* style */
  .header-list{
    height: 80px;
  }
  .list{
    display: none;
  }
  .list li{
    padding-left: 5px;
  }
  .header-list img{
    padding: 0px;
  }
  .header-list li{
    margin: 0px;
    padding: 5px;
  }
  .header-logo{
    height: 230px;
    padding: 0;
  }
  .header-logo h2{
    font-size: 60px;
  }
  .section-order-logo h4{
    font-size: 20px;
  }
  .main-logo h1{
    font-size: 40px;
  }
  .main-item-line1 {
    width: 25%;
    
  }
  .main-item-line2{
    display: none;
  }
  .cection-order-logo h1{
    font-size: 40px;
  }
  .cection-order-logo ul{
    font-size: 20px;
  }
  .section-delivery img{
    height: 300px;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .section-map img{
    height: 300px;
    text-align: center;
    margin: auto;
  }
  .start h3{
    margin: 50px 0;
  }

}
