* {
  margin: 0px;
}
header {
  width: 100%;
}
.header-text {
  text-align: center;
}
.header-text img {
  width: 35%;
  height: 50%
  
}
.header-list {
  background-color: black;
  text-align: center;
  height: 64px;
}
.header-list ul {
  overflow:hidden;
  list-style:none;
  margin: 0 auto;
  z-index: 20;
  text-align: center;
  display: inline-block;
  color: white;
}
.header-list li {
  list-style:none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  font-size: 20px;
}
.header-logo {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(5.jpg);
  background-size: cover;

}
.header-logo h1 {
  font-size: 40px;
  padding: 30px;
  color: #fff;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.836);
}
.header-logo h2 {
  font-size: 80px;
  padding: 30px;
  color: rgb(0, 255, 13);
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.836);
}
.header-logo p {
  font-size: 30px;
  padding: 30px;
  font-weight: bolder;
  color: #fff;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.836);
}
main {
  margin: 50px;
}
.main-shop {
  margin-bottom: 50px;
  height: 500px;
}
.main-logo h1{
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
}
.main-logo h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
.main-item-line1 {
  float: left;;
  width: 25%;
  padding: 60px 0px;
  color: black;
  height: 240px
}
.main-item-line1 img {
  width: 100%;
}
.main-item-line1 h1 {
  text-align: center;
  margin-top: 40px;
}
.main-item-line1 p {
  font-size: 20px;
  margin: 40px 20px;
}
section {
  height: 100%;
  margin: 50px;
}
.section-order {
} 
.section-order-logo h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
  margin-top: 100px;
}
.section-order-logo h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
.section-order-logo ul{
}
.section-order-logo li {
  list-style: none;
  text-align: center;
  
}
.section-delivery {
  margin-top: 50px;
}
.section-delivery h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
}
.section-delivery h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
.section-delivery table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  table-layout: fixed;
}
.section-delivery tr {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: .35em;
}
.section-delivery th {

}
.section-delivery p {
  text-align: center;
  font-size: 60px;
}
.section-delivery h3 {
  font-size: 45px;
  text-align: center;
}
.section-map {
  margin-top: 50px;
  text-align: center;
  background-color: rgb(236, 236, 234);
}
.section-map h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
}
.section-map p{
  text-align: center;
  color: green;
  font-size: 20px;
}
.section-map img {
  border: px sorid black;
  height: 400px;
  margin: 50px;
}
footer {
  margin: 50px;
}
footer h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 5px solid green;
  color: green;
  font-weight: bolder;
}
footer h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}
footer h3 {
  border-radius: 20px;
  background-color: rgb(46, 184, 248);
  padding: 30px;
  text-align: center;
  color: rgb(255, 250, 250);
  opacity: 1;
  box-shadow: 0px 7px #0569ff;
  margin: 50px 300px;
}
footer h3:active {
  background-color: #0569ff;
  box-shadow: none;
  position: relative;
  top: 7px;
}